  li{
  	list-style-type: none;
  }
  a{
  	text-decoration: none;
  }
  #fm-section{
  	width: 900px;
    height: 146px;
    margin: 0 auto;
    border: 1px solid black;
  }
  #logo{
  	width: 335px;
    padding-bottom: 38px;
    overflow: hidden;
    margin-top: 49px;
    float: left;
  }
  #user_info{
  	width: 561px;
  	height: 30px;
  	float: left;
  }
  .none{
  	width: 559px;
  	height: 30px;
  }
  #inNone{
  	width: 455px;
  	height: 30px;
  	margin-left: 102px;
  }
  #profile{
  	width: 196px;
  	height: 17px;
  	float: left;
  }
  #user-name{
  	list-style-type: none;
    font-size: 13px;
  }
  #user-name a{
  	color: #999;
  }
  #user-play{
  	width: 176px;
  	height: 17px;
  	float: left;
  }
  #user-play li{
    float: left;
    font-size: 13px;
    margin-right: 6px;
  }
  #user-play a{
  	color: #999;
  }
  #user-play a:hover{
  	color: #666;
  }
  #pro-promo{
  	width: 77px;
  	height: 17px;
  	float: left;
  }
  #pro-promo li{
  	font-size: 13px;
  	float: left;
  }
  #pro-promo a{
  	color: #999;
  }
  #pro-promo a:hover{
  	color: #666;
  }
  #ch-list-container{
  	width: 900px;
  	height: 765px;
  	margin:0 auto;
  	/*overflow-x: hidden;*/
    border: 1px solid black;
  }
  .ch-list{
  	width: 100%px;
    height: 300px;
    background-color: #E1E8E5;
  }
  #music{
  	width: 450px;
    height: 224px;
    position: absolute;
    top: 95px;
    right: 224px;   
    z-index: 2;
    border: 1px solid black;
  }
  #ramm{
  	width: 200px;
    margin-top: 13px;
    float: left;
  }
  #audio{
  	width: 248px;
    height: 224px;
    float: left;
    border: 1px solid black;
  }
  #long-list{
  	width:311px;
  	height: 760px;
  	float: left;
  	border: 1px solid black;
  }
  #phone{
  	width: 450px;
    height: 35px;
    float: left;
    margin-top: 190px;
    margin-left: 135px;
  }
  .send{
  	font-size: 12pt;
  	float: left;
  }
  .send a{
  	color: #999;
  }
  .send a:hover{
  	color: #666;
  }
  #linsten{
  	width: 100px;
    height: 25px;
    float: right;
    border: 1px solid #58c299;
  }
  #homepage{
  	float: left;
  }
  .song{
  	font-size: 15px;
    margin-top: 4px;
  }
  .song a{
  	color: #58c299;
  }
  #share{
  	width: 70px;
  	height: 30px;
  	float: right;
  	margin-top: 15px;
  }
  #share-song{
  	font-size: 14px;
  	color: #999;
  }
  #fm-sidebar{
    width: 674px;
    height: 1501px;
    z-index: 999;
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid black;
  }
  .fm-side-inner{
  	overflow: hidden;
    width: 674px;
    background: #fff;
     border: 1px solid black;
  }